/* Prevents white borders on the right and top sides of the screen */
html, body {
  overflow-y:auto;
}

.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.5s;
}

.dark-mode {
  background-color: #333;
  color: #fff;
  transition: background-color 0.5s;
}

